--
-- PostgreSQL database dump
--

\restrict WgF1ZUGDb7wQwfCgFuibgMbm0sBZ7OihfTIaM0imshAmhe6pR35cPj1BtpK7PK7

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: proios_user
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO proios_user;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: proios_user
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: proios_user
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO proios_user;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: proios_user
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: proios_user
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO proios_user;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: proios_user
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: correos_emailattachment; Type: TABLE; Schema: public; Owner: proios_user
--

CREATE TABLE public.correos_emailattachment (
    id bigint NOT NULL,
    file character varying(100) NOT NULL,
    filename character varying(255) NOT NULL,
    content_type character varying(100) NOT NULL,
    size integer NOT NULL,
    email_id bigint NOT NULL,
    CONSTRAINT correos_emailattachment_size_check CHECK ((size >= 0))
);


ALTER TABLE public.correos_emailattachment OWNER TO proios_user;

--
-- Name: correos_emailattachment_id_seq; Type: SEQUENCE; Schema: public; Owner: proios_user
--

ALTER TABLE public.correos_emailattachment ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.correos_emailattachment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: correos_emailmessage; Type: TABLE; Schema: public; Owner: proios_user
--

CREATE TABLE public.correos_emailmessage (
    id bigint NOT NULL,
    message_id character varying(255) NOT NULL,
    subject character varying(500) NOT NULL,
    sender_address character varying(254) NOT NULL,
    sender_name character varying(255) NOT NULL,
    recipient_address text NOT NULL,
    cc_address text,
    date_received timestamp with time zone NOT NULL,
    body_text text NOT NULL,
    body_html text NOT NULL,
    direction character varying(20) NOT NULL,
    is_read boolean NOT NULL,
    creado_en timestamp with time zone NOT NULL,
    operacion_id bigint
);


ALTER TABLE public.correos_emailmessage OWNER TO proios_user;

--
-- Name: correos_emailmessage_id_seq; Type: SEQUENCE; Schema: public; Owner: proios_user
--

ALTER TABLE public.correos_emailmessage ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.correos_emailmessage_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: proios_user
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO proios_user;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: proios_user
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: proios_user
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO proios_user;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: proios_user
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: proios_user
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO proios_user;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: proios_user
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: proios_user
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO proios_user;

--
-- Name: guardian_groupobjectpermission; Type: TABLE; Schema: public; Owner: proios_user
--

CREATE TABLE public.guardian_groupobjectpermission (
    id integer NOT NULL,
    object_pk character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.guardian_groupobjectpermission OWNER TO proios_user;

--
-- Name: guardian_groupobjectpermission_id_seq; Type: SEQUENCE; Schema: public; Owner: proios_user
--

ALTER TABLE public.guardian_groupobjectpermission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.guardian_groupobjectpermission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: guardian_userobjectpermission; Type: TABLE; Schema: public; Owner: proios_user
--

CREATE TABLE public.guardian_userobjectpermission (
    id integer NOT NULL,
    object_pk character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    permission_id integer NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.guardian_userobjectpermission OWNER TO proios_user;

--
-- Name: guardian_userobjectpermission_id_seq; Type: SEQUENCE; Schema: public; Owner: proios_user
--

ALTER TABLE public.guardian_userobjectpermission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.guardian_userobjectpermission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: inventario_articulo; Type: TABLE; Schema: public; Owner: proios_user
--

CREATE TABLE public.inventario_articulo (
    id bigint NOT NULL,
    nombre character varying(200) NOT NULL,
    descripcion text NOT NULL,
    presentacion character varying(100) NOT NULL,
    peso_kg numeric(10,2) NOT NULL,
    stock_actual numeric(15,4) NOT NULL,
    categoria character varying(20) NOT NULL,
    stock_minimo numeric(15,4) NOT NULL,
    proveedor_id bigint
);


ALTER TABLE public.inventario_articulo OWNER TO proios_user;

--
-- Name: inventario_articulo_id_seq; Type: SEQUENCE; Schema: public; Owner: proios_user
--

ALTER TABLE public.inventario_articulo ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventario_articulo_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: inventario_movimientostock; Type: TABLE; Schema: public; Owner: proios_user
--

CREATE TABLE public.inventario_movimientostock (
    id bigint NOT NULL,
    tipo character varying(10) NOT NULL,
    cantidad numeric(15,4) NOT NULL,
    stock_resultante numeric(15,4) NOT NULL,
    operacion_id integer,
    razon character varying(255) NOT NULL,
    fecha timestamp with time zone NOT NULL,
    articulo_id bigint NOT NULL
);


ALTER TABLE public.inventario_movimientostock OWNER TO proios_user;

--
-- Name: inventario_movimientostock_id_seq; Type: SEQUENCE; Schema: public; Owner: proios_user
--

ALTER TABLE public.inventario_movimientostock ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventario_movimientostock_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: inventario_proveedor; Type: TABLE; Schema: public; Owner: proios_user
--

CREATE TABLE public.inventario_proveedor (
    id bigint NOT NULL,
    nombre character varying(200) NOT NULL,
    contacto character varying(100) NOT NULL,
    telefono character varying(50) NOT NULL,
    email character varying(254) NOT NULL,
    direccion text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    condicion_pago character varying(20) NOT NULL,
    rubro character varying(100) NOT NULL
);


ALTER TABLE public.inventario_proveedor OWNER TO proios_user;

--
-- Name: inventario_proveedor_id_seq; Type: SEQUENCE; Schema: public; Owner: proios_user
--

ALTER TABLE public.inventario_proveedor ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventario_proveedor_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: operaciones_agency; Type: TABLE; Schema: public; Owner: proios_user
--

CREATE TABLE public.operaciones_agency (
    id bigint NOT NULL,
    name character varying(200) NOT NULL,
    contact_name character varying(100) NOT NULL,
    phone character varying(50) NOT NULL,
    email character varying(254) NOT NULL
);


ALTER TABLE public.operaciones_agency OWNER TO proios_user;

--
-- Name: operaciones_agency_id_seq; Type: SEQUENCE; Schema: public; Owner: proios_user
--

ALTER TABLE public.operaciones_agency ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.operaciones_agency_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: operaciones_agendaevent; Type: TABLE; Schema: public; Owner: proios_user
--

CREATE TABLE public.operaciones_agendaevent (
    id bigint NOT NULL,
    title character varying(200) NOT NULL,
    description text,
    start_date timestamp with time zone NOT NULL,
    end_date timestamp with time zone,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    assigned_to_id bigint NOT NULL,
    created_by_id bigint NOT NULL
);


ALTER TABLE public.operaciones_agendaevent OWNER TO proios_user;

--
-- Name: operaciones_agendaevent_id_seq; Type: SEQUENCE; Schema: public; Owner: proios_user
--

ALTER TABLE public.operaciones_agendaevent ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.operaciones_agendaevent_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: operaciones_client; Type: TABLE; Schema: public; Owner: proios_user
--

CREATE TABLE public.operaciones_client (
    id bigint NOT NULL,
    name character varying(200) NOT NULL,
    contact_person character varying(100) NOT NULL,
    email character varying(254) NOT NULL,
    phone character varying(50) NOT NULL,
    price_list jsonb NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.operaciones_client OWNER TO proios_user;

--
-- Name: operaciones_client_id_seq; Type: SEQUENCE; Schema: public; Owner: proios_user
--

ALTER TABLE public.operaciones_client ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.operaciones_client_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: operaciones_operacion; Type: TABLE; Schema: public; Owner: proios_user
--

CREATE TABLE public.operaciones_operacion (
    id bigint NOT NULL,
    eta timestamp with time zone,
    delivery_method character varying(20) NOT NULL,
    notas text NOT NULL,
    fecha_creacion timestamp with time zone NOT NULL,
    fecha_actualizacion timestamp with time zone NOT NULL,
    estado character varying(50) NOT NULL,
    agency_id bigint,
    cliente_id bigint NOT NULL,
    creado_por_id bigint,
    port_id bigint NOT NULL,
    ship_id bigint NOT NULL,
    client_confirmed_date timestamp with time zone,
    closed_date timestamp with time zone,
    delivery_date timestamp with time zone,
    order_received_date timestamp with time zone,
    packing_list_file character varying(100),
    rancho_file character varying(100),
    remito_file character varying(100),
    stock_consumido boolean NOT NULL,
    aprobacion_requerida_owner boolean NOT NULL,
    tipo_operacion character varying(20) NOT NULL,
    detalle_servicio text,
    forma_cotizacion_servicio character varying(20),
    estado_revision character varying(20) NOT NULL,
    mensaje_revision text,
    texto_pedido text,
    nombre character varying(200),
    subtipo_servicio character varying(100)
);


ALTER TABLE public.operaciones_operacion OWNER TO proios_user;

--
-- Name: operaciones_operacion_contables_asignados; Type: TABLE; Schema: public; Owner: proios_user
--

CREATE TABLE public.operaciones_operacion_contables_asignados (
    id bigint NOT NULL,
    operacion_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.operaciones_operacion_contables_asignados OWNER TO proios_user;

--
-- Name: operaciones_operacion_contables_asignados_id_seq; Type: SEQUENCE; Schema: public; Owner: proios_user
--

ALTER TABLE public.operaciones_operacion_contables_asignados ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.operaciones_operacion_contables_asignados_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: operaciones_operacion_id_seq; Type: SEQUENCE; Schema: public; Owner: proios_user
--

ALTER TABLE public.operaciones_operacion ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.operaciones_operacion_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: operaciones_operacion_operadores_asignados; Type: TABLE; Schema: public; Owner: proios_user
--

CREATE TABLE public.operaciones_operacion_operadores_asignados (
    id bigint NOT NULL,
    operacion_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.operaciones_operacion_operadores_asignados OWNER TO proios_user;

--
-- Name: operaciones_operacion_operadores_asignados_id_seq; Type: SEQUENCE; Schema: public; Owner: proios_user
--

ALTER TABLE public.operaciones_operacion_operadores_asignados ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.operaciones_operacion_operadores_asignados_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: operaciones_operacion_operarios_asignados; Type: TABLE; Schema: public; Owner: proios_user
--

CREATE TABLE public.operaciones_operacion_operarios_asignados (
    id bigint NOT NULL,
    operacion_id bigint NOT NULL,
    personalplantel_id bigint NOT NULL
);


ALTER TABLE public.operaciones_operacion_operarios_asignados OWNER TO proios_user;

--
-- Name: operaciones_operacion_operarios_asignados_id_seq; Type: SEQUENCE; Schema: public; Owner: proios_user
--

ALTER TABLE public.operaciones_operacion_operarios_asignados ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.operaciones_operacion_operarios_asignados_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: operaciones_operacion_operarios_usuarios_asignados; Type: TABLE; Schema: public; Owner: proios_user
--

CREATE TABLE public.operaciones_operacion_operarios_usuarios_asignados (
    id bigint NOT NULL,
    operacion_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.operaciones_operacion_operarios_usuarios_asignados OWNER TO proios_user;

--
-- Name: operaciones_operacion_operarios_usuarios_asignados_id_seq; Type: SEQUENCE; Schema: public; Owner: proios_user
--

ALTER TABLE public.operaciones_operacion_operarios_usuarios_asignados ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.operaciones_operacion_operarios_usuarios_asignados_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: operaciones_operaciondetalle; Type: TABLE; Schema: public; Owner: proios_user
--

CREATE TABLE public.operaciones_operaciondetalle (
    id bigint NOT NULL,
    articulo_id integer NOT NULL,
    cantidad integer NOT NULL,
    precio_unitario numeric(10,2) NOT NULL,
    operacion_id bigint NOT NULL
);


ALTER TABLE public.operaciones_operaciondetalle OWNER TO proios_user;

--
-- Name: operaciones_operaciondetalle_id_seq; Type: SEQUENCE; Schema: public; Owner: proios_user
--

ALTER TABLE public.operaciones_operaciondetalle ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.operaciones_operaciondetalle_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: operaciones_port; Type: TABLE; Schema: public; Owner: proios_user
--

CREATE TABLE public.operaciones_port (
    id bigint NOT NULL,
    name character varying(200) NOT NULL,
    country character varying(100) NOT NULL,
    code character varying(10) NOT NULL
);


ALTER TABLE public.operaciones_port OWNER TO proios_user;

--
-- Name: operaciones_port_id_seq; Type: SEQUENCE; Schema: public; Owner: proios_user
--

ALTER TABLE public.operaciones_port ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.operaciones_port_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: operaciones_ship; Type: TABLE; Schema: public; Owner: proios_user
--

CREATE TABLE public.operaciones_ship (
    id bigint NOT NULL,
    name character varying(200) NOT NULL,
    imo character varying(7) NOT NULL,
    flag character varying(50) NOT NULL,
    call_sign character varying(20) NOT NULL,
    gross_tonnage integer
);


ALTER TABLE public.operaciones_ship OWNER TO proios_user;

--
-- Name: operaciones_ship_id_seq; Type: SEQUENCE; Schema: public; Owner: proios_user
--

ALTER TABLE public.operaciones_ship ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.operaciones_ship_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: produccion_componentebom; Type: TABLE; Schema: public; Owner: proios_user
--

CREATE TABLE public.produccion_componentebom (
    id bigint NOT NULL,
    insumo_id integer NOT NULL,
    cantidad_requerida numeric(15,4) NOT NULL,
    formula_id bigint NOT NULL
);


ALTER TABLE public.produccion_componentebom OWNER TO proios_user;

--
-- Name: produccion_componentebom_id_seq; Type: SEQUENCE; Schema: public; Owner: proios_user
--

ALTER TABLE public.produccion_componentebom ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.produccion_componentebom_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: produccion_formulabom; Type: TABLE; Schema: public; Owner: proios_user
--

CREATE TABLE public.produccion_formulabom (
    id bigint NOT NULL,
    nombre character varying(150) NOT NULL,
    articulo_final_id integer NOT NULL,
    activa boolean NOT NULL
);


ALTER TABLE public.produccion_formulabom OWNER TO proios_user;

--
-- Name: produccion_formulabom_id_seq; Type: SEQUENCE; Schema: public; Owner: proios_user
--

ALTER TABLE public.produccion_formulabom ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.produccion_formulabom_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: produccion_ordenfabricacion; Type: TABLE; Schema: public; Owner: proios_user
--

CREATE TABLE public.produccion_ordenfabricacion (
    id bigint NOT NULL,
    operacion_id integer NOT NULL,
    cantidad_a_producir numeric(15,2) NOT NULL,
    completada boolean NOT NULL,
    fecha_solicitud timestamp with time zone NOT NULL,
    formula_id bigint NOT NULL
);


ALTER TABLE public.produccion_ordenfabricacion OWNER TO proios_user;

--
-- Name: produccion_ordenfabricacion_id_seq; Type: SEQUENCE; Schema: public; Owner: proios_user
--

ALTER TABLE public.produccion_ordenfabricacion ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.produccion_ordenfabricacion_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: token_blacklist_blacklistedtoken; Type: TABLE; Schema: public; Owner: proios_user
--

CREATE TABLE public.token_blacklist_blacklistedtoken (
    id bigint NOT NULL,
    blacklisted_at timestamp with time zone NOT NULL,
    token_id bigint NOT NULL
);


ALTER TABLE public.token_blacklist_blacklistedtoken OWNER TO proios_user;

--
-- Name: token_blacklist_blacklistedtoken_id_seq; Type: SEQUENCE; Schema: public; Owner: proios_user
--

ALTER TABLE public.token_blacklist_blacklistedtoken ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.token_blacklist_blacklistedtoken_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: token_blacklist_outstandingtoken; Type: TABLE; Schema: public; Owner: proios_user
--

CREATE TABLE public.token_blacklist_outstandingtoken (
    id bigint NOT NULL,
    token text NOT NULL,
    created_at timestamp with time zone,
    expires_at timestamp with time zone NOT NULL,
    user_id bigint,
    jti character varying(255) NOT NULL
);


ALTER TABLE public.token_blacklist_outstandingtoken OWNER TO proios_user;

--
-- Name: token_blacklist_outstandingtoken_id_seq; Type: SEQUENCE; Schema: public; Owner: proios_user
--

ALTER TABLE public.token_blacklist_outstandingtoken ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.token_blacklist_outstandingtoken_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: usuarios_feedbackitem; Type: TABLE; Schema: public; Owner: proios_user
--

CREATE TABLE public.usuarios_feedbackitem (
    id bigint NOT NULL,
    titulo character varying(200) NOT NULL,
    descripcion text NOT NULL,
    estado character varying(20) NOT NULL,
    fecha_creacion timestamp with time zone NOT NULL,
    creado_por_id bigint NOT NULL
);


ALTER TABLE public.usuarios_feedbackitem OWNER TO proios_user;

--
-- Name: usuarios_feedbackitem_id_seq; Type: SEQUENCE; Schema: public; Owner: proios_user
--

ALTER TABLE public.usuarios_feedbackitem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.usuarios_feedbackitem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: usuarios_personalplantel; Type: TABLE; Schema: public; Owner: proios_user
--

CREATE TABLE public.usuarios_personalplantel (
    id bigint NOT NULL,
    nombres character varying(200) NOT NULL,
    apellidos character varying(200) NOT NULL,
    dni character varying(20) NOT NULL,
    rol character varying(100) NOT NULL,
    activo boolean NOT NULL,
    fecha_registro timestamp with time zone NOT NULL
);


ALTER TABLE public.usuarios_personalplantel OWNER TO proios_user;

--
-- Name: usuarios_personalplantel_id_seq; Type: SEQUENCE; Schema: public; Owner: proios_user
--

ALTER TABLE public.usuarios_personalplantel ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.usuarios_personalplantel_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: usuarios_user; Type: TABLE; Schema: public; Owner: proios_user
--

CREATE TABLE public.usuarios_user (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    role character varying(20) NOT NULL,
    requires_owner_review boolean NOT NULL
);


ALTER TABLE public.usuarios_user OWNER TO proios_user;

--
-- Name: usuarios_user_groups; Type: TABLE; Schema: public; Owner: proios_user
--

CREATE TABLE public.usuarios_user_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.usuarios_user_groups OWNER TO proios_user;

--
-- Name: usuarios_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: proios_user
--

ALTER TABLE public.usuarios_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.usuarios_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: usuarios_user_id_seq; Type: SEQUENCE; Schema: public; Owner: proios_user
--

ALTER TABLE public.usuarios_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.usuarios_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: usuarios_user_user_permissions; Type: TABLE; Schema: public; Owner: proios_user
--

CREATE TABLE public.usuarios_user_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.usuarios_user_user_permissions OWNER TO proios_user;

--
-- Name: usuarios_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: proios_user
--

ALTER TABLE public.usuarios_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.usuarios_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: correos_emailattachment correos_emailattachment_pkey; Type: CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.correos_emailattachment
    ADD CONSTRAINT correos_emailattachment_pkey PRIMARY KEY (id);


--
-- Name: correos_emailmessage correos_emailmessage_message_id_key; Type: CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.correos_emailmessage
    ADD CONSTRAINT correos_emailmessage_message_id_key UNIQUE (message_id);


--
-- Name: correos_emailmessage correos_emailmessage_pkey; Type: CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.correos_emailmessage
    ADD CONSTRAINT correos_emailmessage_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: guardian_groupobjectpermission guardian_groupobjectperm_group_id_permission_id_o_3f189f7c_uniq; Type: CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.guardian_groupobjectpermission
    ADD CONSTRAINT guardian_groupobjectperm_group_id_permission_id_o_3f189f7c_uniq UNIQUE (group_id, permission_id, object_pk);


--
-- Name: guardian_groupobjectpermission guardian_groupobjectpermission_pkey; Type: CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.guardian_groupobjectpermission
    ADD CONSTRAINT guardian_groupobjectpermission_pkey PRIMARY KEY (id);


--
-- Name: guardian_userobjectpermission guardian_userobjectpermi_user_id_permission_id_ob_b0b3d2fc_uniq; Type: CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.guardian_userobjectpermission
    ADD CONSTRAINT guardian_userobjectpermi_user_id_permission_id_ob_b0b3d2fc_uniq UNIQUE (user_id, permission_id, object_pk);


--
-- Name: guardian_userobjectpermission guardian_userobjectpermission_pkey; Type: CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.guardian_userobjectpermission
    ADD CONSTRAINT guardian_userobjectpermission_pkey PRIMARY KEY (id);


--
-- Name: inventario_articulo inventario_articulo_pkey; Type: CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.inventario_articulo
    ADD CONSTRAINT inventario_articulo_pkey PRIMARY KEY (id);


--
-- Name: inventario_movimientostock inventario_movimientostock_pkey; Type: CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.inventario_movimientostock
    ADD CONSTRAINT inventario_movimientostock_pkey PRIMARY KEY (id);


--
-- Name: inventario_proveedor inventario_proveedor_nombre_key; Type: CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.inventario_proveedor
    ADD CONSTRAINT inventario_proveedor_nombre_key UNIQUE (nombre);


--
-- Name: inventario_proveedor inventario_proveedor_pkey; Type: CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.inventario_proveedor
    ADD CONSTRAINT inventario_proveedor_pkey PRIMARY KEY (id);


--
-- Name: operaciones_agency operaciones_agency_pkey; Type: CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.operaciones_agency
    ADD CONSTRAINT operaciones_agency_pkey PRIMARY KEY (id);


--
-- Name: operaciones_agendaevent operaciones_agendaevent_pkey; Type: CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.operaciones_agendaevent
    ADD CONSTRAINT operaciones_agendaevent_pkey PRIMARY KEY (id);


--
-- Name: operaciones_client operaciones_client_pkey; Type: CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.operaciones_client
    ADD CONSTRAINT operaciones_client_pkey PRIMARY KEY (id);


--
-- Name: operaciones_operacion_contables_asignados operaciones_operacion_co_operacion_id_user_id_f2aa61bd_uniq; Type: CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.operaciones_operacion_contables_asignados
    ADD CONSTRAINT operaciones_operacion_co_operacion_id_user_id_f2aa61bd_uniq UNIQUE (operacion_id, user_id);


--
-- Name: operaciones_operacion_contables_asignados operaciones_operacion_contables_asignados_pkey; Type: CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.operaciones_operacion_contables_asignados
    ADD CONSTRAINT operaciones_operacion_contables_asignados_pkey PRIMARY KEY (id);


--
-- Name: operaciones_operacion_operadores_asignados operaciones_operacion_op_operacion_id_user_id_46600fd8_uniq; Type: CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.operaciones_operacion_operadores_asignados
    ADD CONSTRAINT operaciones_operacion_op_operacion_id_user_id_46600fd8_uniq UNIQUE (operacion_id, user_id);


--
-- Name: operaciones_operacion_operarios_usuarios_asignados operaciones_operacion_op_operacion_id_user_id_7edc2cd6_uniq; Type: CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.operaciones_operacion_operarios_usuarios_asignados
    ADD CONSTRAINT operaciones_operacion_op_operacion_id_user_id_7edc2cd6_uniq UNIQUE (operacion_id, user_id);


--
-- Name: operaciones_operacion_operarios_asignados operaciones_operacion_op_operacion_id_user_id_84d149f2_uniq; Type: CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.operaciones_operacion_operarios_asignados
    ADD CONSTRAINT operaciones_operacion_op_operacion_id_user_id_84d149f2_uniq UNIQUE (operacion_id, personalplantel_id);


--
-- Name: operaciones_operacion_operadores_asignados operaciones_operacion_operadores_asignados_pkey; Type: CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.operaciones_operacion_operadores_asignados
    ADD CONSTRAINT operaciones_operacion_operadores_asignados_pkey PRIMARY KEY (id);


--
-- Name: operaciones_operacion_operarios_asignados operaciones_operacion_operarios_asignados_pkey; Type: CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.operaciones_operacion_operarios_asignados
    ADD CONSTRAINT operaciones_operacion_operarios_asignados_pkey PRIMARY KEY (id);


--
-- Name: operaciones_operacion_operarios_usuarios_asignados operaciones_operacion_operarios_usuarios_asignados_pkey; Type: CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.operaciones_operacion_operarios_usuarios_asignados
    ADD CONSTRAINT operaciones_operacion_operarios_usuarios_asignados_pkey PRIMARY KEY (id);


--
-- Name: operaciones_operacion operaciones_operacion_pkey; Type: CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.operaciones_operacion
    ADD CONSTRAINT operaciones_operacion_pkey PRIMARY KEY (id);


--
-- Name: operaciones_operaciondetalle operaciones_operaciondetalle_pkey; Type: CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.operaciones_operaciondetalle
    ADD CONSTRAINT operaciones_operaciondetalle_pkey PRIMARY KEY (id);


--
-- Name: operaciones_port operaciones_port_pkey; Type: CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.operaciones_port
    ADD CONSTRAINT operaciones_port_pkey PRIMARY KEY (id);


--
-- Name: operaciones_ship operaciones_ship_imo_key; Type: CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.operaciones_ship
    ADD CONSTRAINT operaciones_ship_imo_key UNIQUE (imo);


--
-- Name: operaciones_ship operaciones_ship_pkey; Type: CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.operaciones_ship
    ADD CONSTRAINT operaciones_ship_pkey PRIMARY KEY (id);


--
-- Name: produccion_componentebom produccion_componentebom_pkey; Type: CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.produccion_componentebom
    ADD CONSTRAINT produccion_componentebom_pkey PRIMARY KEY (id);


--
-- Name: produccion_formulabom produccion_formulabom_pkey; Type: CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.produccion_formulabom
    ADD CONSTRAINT produccion_formulabom_pkey PRIMARY KEY (id);


--
-- Name: produccion_ordenfabricacion produccion_ordenfabricacion_pkey; Type: CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.produccion_ordenfabricacion
    ADD CONSTRAINT produccion_ordenfabricacion_pkey PRIMARY KEY (id);


--
-- Name: token_blacklist_blacklistedtoken token_blacklist_blacklistedtoken_pkey; Type: CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.token_blacklist_blacklistedtoken
    ADD CONSTRAINT token_blacklist_blacklistedtoken_pkey PRIMARY KEY (id);


--
-- Name: token_blacklist_blacklistedtoken token_blacklist_blacklistedtoken_token_id_key; Type: CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.token_blacklist_blacklistedtoken
    ADD CONSTRAINT token_blacklist_blacklistedtoken_token_id_key UNIQUE (token_id);


--
-- Name: token_blacklist_outstandingtoken token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_uniq; Type: CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.token_blacklist_outstandingtoken
    ADD CONSTRAINT token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_uniq UNIQUE (jti);


--
-- Name: token_blacklist_outstandingtoken token_blacklist_outstandingtoken_pkey; Type: CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.token_blacklist_outstandingtoken
    ADD CONSTRAINT token_blacklist_outstandingtoken_pkey PRIMARY KEY (id);


--
-- Name: usuarios_feedbackitem usuarios_feedbackitem_pkey; Type: CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.usuarios_feedbackitem
    ADD CONSTRAINT usuarios_feedbackitem_pkey PRIMARY KEY (id);


--
-- Name: usuarios_personalplantel usuarios_personalplantel_dni_key; Type: CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.usuarios_personalplantel
    ADD CONSTRAINT usuarios_personalplantel_dni_key UNIQUE (dni);


--
-- Name: usuarios_personalplantel usuarios_personalplantel_pkey; Type: CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.usuarios_personalplantel
    ADD CONSTRAINT usuarios_personalplantel_pkey PRIMARY KEY (id);


--
-- Name: usuarios_user_groups usuarios_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.usuarios_user_groups
    ADD CONSTRAINT usuarios_user_groups_pkey PRIMARY KEY (id);


--
-- Name: usuarios_user_groups usuarios_user_groups_user_id_group_id_7ca6624e_uniq; Type: CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.usuarios_user_groups
    ADD CONSTRAINT usuarios_user_groups_user_id_group_id_7ca6624e_uniq UNIQUE (user_id, group_id);


--
-- Name: usuarios_user usuarios_user_pkey; Type: CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.usuarios_user
    ADD CONSTRAINT usuarios_user_pkey PRIMARY KEY (id);


--
-- Name: usuarios_user_user_permissions usuarios_user_user_permi_user_id_permission_id_801d2da9_uniq; Type: CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.usuarios_user_user_permissions
    ADD CONSTRAINT usuarios_user_user_permi_user_id_permission_id_801d2da9_uniq UNIQUE (user_id, permission_id);


--
-- Name: usuarios_user_user_permissions usuarios_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.usuarios_user_user_permissions
    ADD CONSTRAINT usuarios_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: usuarios_user usuarios_user_username_key; Type: CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.usuarios_user
    ADD CONSTRAINT usuarios_user_username_key UNIQUE (username);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: proios_user
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: proios_user
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: proios_user
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: proios_user
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: correos_emailattachment_email_id_ca8a9f60; Type: INDEX; Schema: public; Owner: proios_user
--

CREATE INDEX correos_emailattachment_email_id_ca8a9f60 ON public.correos_emailattachment USING btree (email_id);


--
-- Name: correos_emailmessage_message_id_69a84bf2_like; Type: INDEX; Schema: public; Owner: proios_user
--

CREATE INDEX correos_emailmessage_message_id_69a84bf2_like ON public.correos_emailmessage USING btree (message_id varchar_pattern_ops);


--
-- Name: correos_emailmessage_operacion_id_d96695c6; Type: INDEX; Schema: public; Owner: proios_user
--

CREATE INDEX correos_emailmessage_operacion_id_d96695c6 ON public.correos_emailmessage USING btree (operacion_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: proios_user
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: proios_user
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: proios_user
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: proios_user
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: guardian_gr_group_i_9e7d12_idx; Type: INDEX; Schema: public; Owner: proios_user
--

CREATE INDEX guardian_gr_group_i_9e7d12_idx ON public.guardian_groupobjectpermission USING btree (group_id, content_type_id, object_pk);


--
-- Name: guardian_gr_permiss_83545c_idx; Type: INDEX; Schema: public; Owner: proios_user
--

CREATE INDEX guardian_gr_permiss_83545c_idx ON public.guardian_groupobjectpermission USING btree (permission_id, group_id, content_type_id, object_pk);


--
-- Name: guardian_groupobjectpermission_content_type_id_7ade36b8; Type: INDEX; Schema: public; Owner: proios_user
--

CREATE INDEX guardian_groupobjectpermission_content_type_id_7ade36b8 ON public.guardian_groupobjectpermission USING btree (content_type_id);


--
-- Name: guardian_groupobjectpermission_group_id_4bbbfb62; Type: INDEX; Schema: public; Owner: proios_user
--

CREATE INDEX guardian_groupobjectpermission_group_id_4bbbfb62 ON public.guardian_groupobjectpermission USING btree (group_id);


--
-- Name: guardian_groupobjectpermission_permission_id_36572738; Type: INDEX; Schema: public; Owner: proios_user
--

CREATE INDEX guardian_groupobjectpermission_permission_id_36572738 ON public.guardian_groupobjectpermission USING btree (permission_id);


--
-- Name: guardian_us_permiss_e5749c_idx; Type: INDEX; Schema: public; Owner: proios_user
--

CREATE INDEX guardian_us_permiss_e5749c_idx ON public.guardian_userobjectpermission USING btree (permission_id, user_id, content_type_id, object_pk);


--
-- Name: guardian_us_user_id_8eae14_idx; Type: INDEX; Schema: public; Owner: proios_user
--

CREATE INDEX guardian_us_user_id_8eae14_idx ON public.guardian_userobjectpermission USING btree (user_id, content_type_id, object_pk);


--
-- Name: guardian_userobjectpermission_content_type_id_2e892405; Type: INDEX; Schema: public; Owner: proios_user
--

CREATE INDEX guardian_userobjectpermission_content_type_id_2e892405 ON public.guardian_userobjectpermission USING btree (content_type_id);


--
-- Name: guardian_userobjectpermission_permission_id_71807bfc; Type: INDEX; Schema: public; Owner: proios_user
--

CREATE INDEX guardian_userobjectpermission_permission_id_71807bfc ON public.guardian_userobjectpermission USING btree (permission_id);


--
-- Name: guardian_userobjectpermission_user_id_d5c1e964; Type: INDEX; Schema: public; Owner: proios_user
--

CREATE INDEX guardian_userobjectpermission_user_id_d5c1e964 ON public.guardian_userobjectpermission USING btree (user_id);


--
-- Name: inventario_articulo_proveedor_id_679e76fd; Type: INDEX; Schema: public; Owner: proios_user
--

CREATE INDEX inventario_articulo_proveedor_id_679e76fd ON public.inventario_articulo USING btree (proveedor_id);


--
-- Name: inventario_movimientostock_articulo_id_27cd8ba4; Type: INDEX; Schema: public; Owner: proios_user
--

CREATE INDEX inventario_movimientostock_articulo_id_27cd8ba4 ON public.inventario_movimientostock USING btree (articulo_id);


--
-- Name: inventario_proveedor_nombre_2d6081d7_like; Type: INDEX; Schema: public; Owner: proios_user
--

CREATE INDEX inventario_proveedor_nombre_2d6081d7_like ON public.inventario_proveedor USING btree (nombre varchar_pattern_ops);


--
-- Name: operaciones_agendaevent_assigned_to_id_45096a11; Type: INDEX; Schema: public; Owner: proios_user
--

CREATE INDEX operaciones_agendaevent_assigned_to_id_45096a11 ON public.operaciones_agendaevent USING btree (assigned_to_id);


--
-- Name: operaciones_agendaevent_created_by_id_24e37475; Type: INDEX; Schema: public; Owner: proios_user
--

CREATE INDEX operaciones_agendaevent_created_by_id_24e37475 ON public.operaciones_agendaevent USING btree (created_by_id);


--
-- Name: operaciones_operacion_agency_id_0890d820; Type: INDEX; Schema: public; Owner: proios_user
--

CREATE INDEX operaciones_operacion_agency_id_0890d820 ON public.operaciones_operacion USING btree (agency_id);


--
-- Name: operaciones_operacion_cliente_id_6bd549cf; Type: INDEX; Schema: public; Owner: proios_user
--

CREATE INDEX operaciones_operacion_cliente_id_6bd549cf ON public.operaciones_operacion USING btree (cliente_id);


--
-- Name: operaciones_operacion_contables_asignados_operacion_id_5780bb8b; Type: INDEX; Schema: public; Owner: proios_user
--

CREATE INDEX operaciones_operacion_contables_asignados_operacion_id_5780bb8b ON public.operaciones_operacion_contables_asignados USING btree (operacion_id);


--
-- Name: operaciones_operacion_contables_asignados_user_id_9c12c95f; Type: INDEX; Schema: public; Owner: proios_user
--

CREATE INDEX operaciones_operacion_contables_asignados_user_id_9c12c95f ON public.operaciones_operacion_contables_asignados USING btree (user_id);


--
-- Name: operaciones_operacion_creado_por_id_0df54b4b; Type: INDEX; Schema: public; Owner: proios_user
--

CREATE INDEX operaciones_operacion_creado_por_id_0df54b4b ON public.operaciones_operacion USING btree (creado_por_id);


--
-- Name: operaciones_operacion_oper_operacion_id_20132135; Type: INDEX; Schema: public; Owner: proios_user
--

CREATE INDEX operaciones_operacion_oper_operacion_id_20132135 ON public.operaciones_operacion_operarios_usuarios_asignados USING btree (operacion_id);


--
-- Name: operaciones_operacion_oper_operacion_id_40a59421; Type: INDEX; Schema: public; Owner: proios_user
--

CREATE INDEX operaciones_operacion_oper_operacion_id_40a59421 ON public.operaciones_operacion_operadores_asignados USING btree (operacion_id);


--
-- Name: operaciones_operacion_oper_user_id_1e27dc75; Type: INDEX; Schema: public; Owner: proios_user
--

CREATE INDEX operaciones_operacion_oper_user_id_1e27dc75 ON public.operaciones_operacion_operarios_usuarios_asignados USING btree (user_id);


--
-- Name: operaciones_operacion_operadores_asignados_user_id_af9a4a22; Type: INDEX; Schema: public; Owner: proios_user
--

CREATE INDEX operaciones_operacion_operadores_asignados_user_id_af9a4a22 ON public.operaciones_operacion_operadores_asignados USING btree (user_id);


--
-- Name: operaciones_operacion_operarios_asignados_operacion_id_945f29be; Type: INDEX; Schema: public; Owner: proios_user
--

CREATE INDEX operaciones_operacion_operarios_asignados_operacion_id_945f29be ON public.operaciones_operacion_operarios_asignados USING btree (operacion_id);


--
-- Name: operaciones_operacion_operarios_asignados_user_id_2367c781; Type: INDEX; Schema: public; Owner: proios_user
--

CREATE INDEX operaciones_operacion_operarios_asignados_user_id_2367c781 ON public.operaciones_operacion_operarios_asignados USING btree (personalplantel_id);


--
-- Name: operaciones_operacion_port_id_3d135eba; Type: INDEX; Schema: public; Owner: proios_user
--

CREATE INDEX operaciones_operacion_port_id_3d135eba ON public.operaciones_operacion USING btree (port_id);


--
-- Name: operaciones_operacion_ship_id_bb200266; Type: INDEX; Schema: public; Owner: proios_user
--

CREATE INDEX operaciones_operacion_ship_id_bb200266 ON public.operaciones_operacion USING btree (ship_id);


--
-- Name: operaciones_operaciondetalle_operacion_id_d04dcce4; Type: INDEX; Schema: public; Owner: proios_user
--

CREATE INDEX operaciones_operaciondetalle_operacion_id_d04dcce4 ON public.operaciones_operaciondetalle USING btree (operacion_id);


--
-- Name: operaciones_ship_imo_ef93218b_like; Type: INDEX; Schema: public; Owner: proios_user
--

CREATE INDEX operaciones_ship_imo_ef93218b_like ON public.operaciones_ship USING btree (imo varchar_pattern_ops);


--
-- Name: produccion_componentebom_formula_id_157a8d88; Type: INDEX; Schema: public; Owner: proios_user
--

CREATE INDEX produccion_componentebom_formula_id_157a8d88 ON public.produccion_componentebom USING btree (formula_id);


--
-- Name: produccion_ordenfabricacion_formula_id_bc1a7f31; Type: INDEX; Schema: public; Owner: proios_user
--

CREATE INDEX produccion_ordenfabricacion_formula_id_bc1a7f31 ON public.produccion_ordenfabricacion USING btree (formula_id);


--
-- Name: token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_like; Type: INDEX; Schema: public; Owner: proios_user
--

CREATE INDEX token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_like ON public.token_blacklist_outstandingtoken USING btree (jti varchar_pattern_ops);


--
-- Name: token_blacklist_outstandingtoken_user_id_83bc629a; Type: INDEX; Schema: public; Owner: proios_user
--

CREATE INDEX token_blacklist_outstandingtoken_user_id_83bc629a ON public.token_blacklist_outstandingtoken USING btree (user_id);


--
-- Name: usuarios_feedbackitem_creado_por_id_28e25854; Type: INDEX; Schema: public; Owner: proios_user
--

CREATE INDEX usuarios_feedbackitem_creado_por_id_28e25854 ON public.usuarios_feedbackitem USING btree (creado_por_id);


--
-- Name: usuarios_personalplantel_dni_78eb118f_like; Type: INDEX; Schema: public; Owner: proios_user
--

CREATE INDEX usuarios_personalplantel_dni_78eb118f_like ON public.usuarios_personalplantel USING btree (dni varchar_pattern_ops);


--
-- Name: usuarios_user_groups_group_id_ce48ebfd; Type: INDEX; Schema: public; Owner: proios_user
--

CREATE INDEX usuarios_user_groups_group_id_ce48ebfd ON public.usuarios_user_groups USING btree (group_id);


--
-- Name: usuarios_user_groups_user_id_327741ca; Type: INDEX; Schema: public; Owner: proios_user
--

CREATE INDEX usuarios_user_groups_user_id_327741ca ON public.usuarios_user_groups USING btree (user_id);


--
-- Name: usuarios_user_user_permissions_permission_id_32dd035e; Type: INDEX; Schema: public; Owner: proios_user
--

CREATE INDEX usuarios_user_user_permissions_permission_id_32dd035e ON public.usuarios_user_user_permissions USING btree (permission_id);


--
-- Name: usuarios_user_user_permissions_user_id_6770e840; Type: INDEX; Schema: public; Owner: proios_user
--

CREATE INDEX usuarios_user_user_permissions_user_id_6770e840 ON public.usuarios_user_user_permissions USING btree (user_id);


--
-- Name: usuarios_user_username_5ab4f1db_like; Type: INDEX; Schema: public; Owner: proios_user
--

CREATE INDEX usuarios_user_username_5ab4f1db_like ON public.usuarios_user USING btree (username varchar_pattern_ops);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: correos_emailattachment correos_emailattachm_email_id_ca8a9f60_fk_correos_e; Type: FK CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.correos_emailattachment
    ADD CONSTRAINT correos_emailattachm_email_id_ca8a9f60_fk_correos_e FOREIGN KEY (email_id) REFERENCES public.correos_emailmessage(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: correos_emailmessage correos_emailmessage_operacion_id_d96695c6_fk_operacion; Type: FK CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.correos_emailmessage
    ADD CONSTRAINT correos_emailmessage_operacion_id_d96695c6_fk_operacion FOREIGN KEY (operacion_id) REFERENCES public.operaciones_operacion(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_usuarios_user_id; Type: FK CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_usuarios_user_id FOREIGN KEY (user_id) REFERENCES public.usuarios_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: guardian_groupobjectpermission guardian_groupobject_content_type_id_7ade36b8_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.guardian_groupobjectpermission
    ADD CONSTRAINT guardian_groupobject_content_type_id_7ade36b8_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: guardian_groupobjectpermission guardian_groupobject_group_id_4bbbfb62_fk_auth_grou; Type: FK CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.guardian_groupobjectpermission
    ADD CONSTRAINT guardian_groupobject_group_id_4bbbfb62_fk_auth_grou FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: guardian_groupobjectpermission guardian_groupobject_permission_id_36572738_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.guardian_groupobjectpermission
    ADD CONSTRAINT guardian_groupobject_permission_id_36572738_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: guardian_userobjectpermission guardian_userobjectp_content_type_id_2e892405_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.guardian_userobjectpermission
    ADD CONSTRAINT guardian_userobjectp_content_type_id_2e892405_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: guardian_userobjectpermission guardian_userobjectp_permission_id_71807bfc_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.guardian_userobjectpermission
    ADD CONSTRAINT guardian_userobjectp_permission_id_71807bfc_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: guardian_userobjectpermission guardian_userobjectp_user_id_d5c1e964_fk_usuarios_; Type: FK CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.guardian_userobjectpermission
    ADD CONSTRAINT guardian_userobjectp_user_id_d5c1e964_fk_usuarios_ FOREIGN KEY (user_id) REFERENCES public.usuarios_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventario_articulo inventario_articulo_proveedor_id_679e76fd_fk; Type: FK CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.inventario_articulo
    ADD CONSTRAINT inventario_articulo_proveedor_id_679e76fd_fk FOREIGN KEY (proveedor_id) REFERENCES public.inventario_proveedor(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventario_movimientostock inventario_movimientostock_articulo_id_27cd8ba4_fk; Type: FK CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.inventario_movimientostock
    ADD CONSTRAINT inventario_movimientostock_articulo_id_27cd8ba4_fk FOREIGN KEY (articulo_id) REFERENCES public.inventario_articulo(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: operaciones_agendaevent operaciones_agendaev_assigned_to_id_45096a11_fk_usuarios_; Type: FK CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.operaciones_agendaevent
    ADD CONSTRAINT operaciones_agendaev_assigned_to_id_45096a11_fk_usuarios_ FOREIGN KEY (assigned_to_id) REFERENCES public.usuarios_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: operaciones_agendaevent operaciones_agendaev_created_by_id_24e37475_fk_usuarios_; Type: FK CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.operaciones_agendaevent
    ADD CONSTRAINT operaciones_agendaev_created_by_id_24e37475_fk_usuarios_ FOREIGN KEY (created_by_id) REFERENCES public.usuarios_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: operaciones_operacion operaciones_operacio_agency_id_0890d820_fk_operacion; Type: FK CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.operaciones_operacion
    ADD CONSTRAINT operaciones_operacio_agency_id_0890d820_fk_operacion FOREIGN KEY (agency_id) REFERENCES public.operaciones_agency(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: operaciones_operacion operaciones_operacio_cliente_id_6bd549cf_fk_operacion; Type: FK CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.operaciones_operacion
    ADD CONSTRAINT operaciones_operacio_cliente_id_6bd549cf_fk_operacion FOREIGN KEY (cliente_id) REFERENCES public.operaciones_client(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: operaciones_operacion operaciones_operacio_creado_por_id_0df54b4b_fk_usuarios_; Type: FK CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.operaciones_operacion
    ADD CONSTRAINT operaciones_operacio_creado_por_id_0df54b4b_fk_usuarios_ FOREIGN KEY (creado_por_id) REFERENCES public.usuarios_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: operaciones_operacion_operarios_usuarios_asignados operaciones_operacio_operacion_id_20132135_fk_operacion; Type: FK CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.operaciones_operacion_operarios_usuarios_asignados
    ADD CONSTRAINT operaciones_operacio_operacion_id_20132135_fk_operacion FOREIGN KEY (operacion_id) REFERENCES public.operaciones_operacion(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: operaciones_operacion_operadores_asignados operaciones_operacio_operacion_id_40a59421_fk_operacion; Type: FK CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.operaciones_operacion_operadores_asignados
    ADD CONSTRAINT operaciones_operacio_operacion_id_40a59421_fk_operacion FOREIGN KEY (operacion_id) REFERENCES public.operaciones_operacion(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: operaciones_operacion_contables_asignados operaciones_operacio_operacion_id_5780bb8b_fk_operacion; Type: FK CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.operaciones_operacion_contables_asignados
    ADD CONSTRAINT operaciones_operacio_operacion_id_5780bb8b_fk_operacion FOREIGN KEY (operacion_id) REFERENCES public.operaciones_operacion(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: operaciones_operacion_operarios_asignados operaciones_operacio_operacion_id_945f29be_fk_operacion; Type: FK CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.operaciones_operacion_operarios_asignados
    ADD CONSTRAINT operaciones_operacio_operacion_id_945f29be_fk_operacion FOREIGN KEY (operacion_id) REFERENCES public.operaciones_operacion(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: operaciones_operaciondetalle operaciones_operacio_operacion_id_d04dcce4_fk_operacion; Type: FK CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.operaciones_operaciondetalle
    ADD CONSTRAINT operaciones_operacio_operacion_id_d04dcce4_fk_operacion FOREIGN KEY (operacion_id) REFERENCES public.operaciones_operacion(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: operaciones_operacion_operarios_asignados operaciones_operacio_personalplantel_id_19df39ad_fk_usuarios_; Type: FK CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.operaciones_operacion_operarios_asignados
    ADD CONSTRAINT operaciones_operacio_personalplantel_id_19df39ad_fk_usuarios_ FOREIGN KEY (personalplantel_id) REFERENCES public.usuarios_personalplantel(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: operaciones_operacion_operarios_usuarios_asignados operaciones_operacio_user_id_1e27dc75_fk_usuarios_; Type: FK CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.operaciones_operacion_operarios_usuarios_asignados
    ADD CONSTRAINT operaciones_operacio_user_id_1e27dc75_fk_usuarios_ FOREIGN KEY (user_id) REFERENCES public.usuarios_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: operaciones_operacion_contables_asignados operaciones_operacio_user_id_9c12c95f_fk_usuarios_; Type: FK CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.operaciones_operacion_contables_asignados
    ADD CONSTRAINT operaciones_operacio_user_id_9c12c95f_fk_usuarios_ FOREIGN KEY (user_id) REFERENCES public.usuarios_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: operaciones_operacion_operadores_asignados operaciones_operacio_user_id_af9a4a22_fk_usuarios_; Type: FK CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.operaciones_operacion_operadores_asignados
    ADD CONSTRAINT operaciones_operacio_user_id_af9a4a22_fk_usuarios_ FOREIGN KEY (user_id) REFERENCES public.usuarios_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: operaciones_operacion operaciones_operacion_port_id_3d135eba_fk_operaciones_port_id; Type: FK CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.operaciones_operacion
    ADD CONSTRAINT operaciones_operacion_port_id_3d135eba_fk_operaciones_port_id FOREIGN KEY (port_id) REFERENCES public.operaciones_port(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: operaciones_operacion operaciones_operacion_ship_id_bb200266_fk_operaciones_ship_id; Type: FK CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.operaciones_operacion
    ADD CONSTRAINT operaciones_operacion_ship_id_bb200266_fk_operaciones_ship_id FOREIGN KEY (ship_id) REFERENCES public.operaciones_ship(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: produccion_componentebom produccion_component_formula_id_157a8d88_fk_produccio; Type: FK CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.produccion_componentebom
    ADD CONSTRAINT produccion_component_formula_id_157a8d88_fk_produccio FOREIGN KEY (formula_id) REFERENCES public.produccion_formulabom(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: produccion_ordenfabricacion produccion_ordenfabr_formula_id_bc1a7f31_fk_produccio; Type: FK CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.produccion_ordenfabricacion
    ADD CONSTRAINT produccion_ordenfabr_formula_id_bc1a7f31_fk_produccio FOREIGN KEY (formula_id) REFERENCES public.produccion_formulabom(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: token_blacklist_blacklistedtoken token_blacklist_blacklistedtoken_token_id_3cc7fe56_fk; Type: FK CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.token_blacklist_blacklistedtoken
    ADD CONSTRAINT token_blacklist_blacklistedtoken_token_id_3cc7fe56_fk FOREIGN KEY (token_id) REFERENCES public.token_blacklist_outstandingtoken(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: token_blacklist_outstandingtoken token_blacklist_outs_user_id_83bc629a_fk_usuarios_; Type: FK CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.token_blacklist_outstandingtoken
    ADD CONSTRAINT token_blacklist_outs_user_id_83bc629a_fk_usuarios_ FOREIGN KEY (user_id) REFERENCES public.usuarios_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: usuarios_feedbackitem usuarios_feedbackite_creado_por_id_28e25854_fk_usuarios_; Type: FK CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.usuarios_feedbackitem
    ADD CONSTRAINT usuarios_feedbackite_creado_por_id_28e25854_fk_usuarios_ FOREIGN KEY (creado_por_id) REFERENCES public.usuarios_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: usuarios_user_groups usuarios_user_groups_group_id_ce48ebfd_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.usuarios_user_groups
    ADD CONSTRAINT usuarios_user_groups_group_id_ce48ebfd_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: usuarios_user_groups usuarios_user_groups_user_id_327741ca_fk_usuarios_user_id; Type: FK CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.usuarios_user_groups
    ADD CONSTRAINT usuarios_user_groups_user_id_327741ca_fk_usuarios_user_id FOREIGN KEY (user_id) REFERENCES public.usuarios_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: usuarios_user_user_permissions usuarios_user_user_p_permission_id_32dd035e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.usuarios_user_user_permissions
    ADD CONSTRAINT usuarios_user_user_p_permission_id_32dd035e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: usuarios_user_user_permissions usuarios_user_user_p_user_id_6770e840_fk_usuarios_; Type: FK CONSTRAINT; Schema: public; Owner: proios_user
--

ALTER TABLE ONLY public.usuarios_user_user_permissions
    ADD CONSTRAINT usuarios_user_user_p_user_id_6770e840_fk_usuarios_ FOREIGN KEY (user_id) REFERENCES public.usuarios_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict WgF1ZUGDb7wQwfCgFuibgMbm0sBZ7OihfTIaM0imshAmhe6pR35cPj1BtpK7PK7

