Django==5.0.3
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
celery==5.3.6
redis==5.0.3
psycopg[binary]==3.1.18
django-cors-headers==4.3.1
gunicorn==21.2.0
python-dotenv==1.0.1
django-environ==0.11.2
django-filter
django-fsm
weasyprint
django-guardian
requests==2.31.0
beautifulsoup4==4.12.3
pandas==2.2.0
openpyxl==3.1.2
xlrd==2.0.1
holidays==0.45
whitenoise==6.6.0